<div class="container position-sticky ">  

<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= book.author_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>
  
    <div > <img >image:</img>
    <%= image_tag book.image ,style:'width:300px' %>
  </div>
  
    

</div>
</div>